<!DOCTYPE html>
<html lang="en">
    <head>
        <title>monoLambda | Getting Started</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <!--<header class="getting-started-header">
            <div class="header-info">
                <h1>Getting Started</h1>
                <h4>Cookie croissant chocolate cake. Topping cake soufflé wafer carrot cake. Cupcake chocolate.</h4>
                <div class="btn-div">
                    <a class="info-btn" target="_blank" href="https://github.com/monolambda/static-site-starter">View Source Code</a>
                    <a class="info-btn home-btn" target="_blank" href="../index.html">Home</a>
                </div>
            </div>
        </header>-->
        <!--<section class="benefits">
            <h1>Documentation</h1>
            <div class="benefits-wrapper">
                <div class="features">
                    <div class="info-box details">
                        <img src="/assets/images/code.png" alt="code symbol in hexagon">
                        <h3>Biscuit Sugar</h3>
                        <p>
                            Pastry cake sugar plum wafer I love. I love lemon drops croissant donut sesame snaps biscuit jelly beans.
                        </p>
                    </div>
                    <div class="info-box details">
                        <img src="/assets/images/lightbulb.png" alt="lightbulb symbol in hexagon">
                        <h3>Oat Cake Pastry</h3>
                        <p>
                            Pastry cake sugar plum wafer I love. I love lemon drops croissant donut sesame snaps biscuit jelly beans.
                        </p>
                    </div>
                    <div class="info-box details">
                        <img src="/assets/images/atom.png" alt="atom symbol in hexagon">
                        <h3>Tootsie Roll Bear</h3>
                        <p>
                            Pastry cake sugar plum wafer I love. I love lemon drops croissant donut sesame snaps biscuit jelly beans.
                        </p>
                    </div>
                    <div class="info-box details">
                        <img src="/assets/images/connect.png" alt="connect symbol in hexagon">
                        <h3>Cookie Ice Cream</h3>
                        <p>
                            Pastry cake sugar plum wafer I love. I love lemon drops croissant donut sesame snaps biscuit jelly beans.
                        </p>
                    </div>
                </div>
            </div>
        </section>-->
        <section class="read-me">
            <div class="read-me-div">
                <h1 class="title">How It Works</h1>
                <p>
                    Cupcake pie apple pie cookie pudding I love biscuit apple pie. Cheesecake caramels marshmallow tiramisu chocolate bar I love macaroon.
                    I love marshmallow gummies tart cotton candy. Halvah chocolate liquorice.
                </p>
                <code>yarn serve doughnuts</code>
                <h1>Example of Heading 1</h1>
                <h2>Example of Heading 2</h2>
                <h3>Example of Heading 3</h3>
                <p>
                    Jelly beans sweet roll danish powder chocolate bar.
                    Topping cupcake gingerbread marshmallow tootsie roll. Carrot cake cotton candy danish.
                </p>
                <h3>Tart Danish Candy Canes Cake</h3>
                <p>
                    Jelly beans sweet roll danish powder chocolate bar. Danish carrot cake cotton candy chupa chups candy.
                    Topping cupcake gingerbread marshmallow tootsie roll. Carrot cake cotton candy danish.
                </p>
                <div class="btn-div">
                    <a class="info-btn" target="_blank" href="https://github.com/monolambda/static-site-starter">Go to Wiki</a>
                </div>
            </div>
        </section>
        
        <div class="contact">
            <h1>Candy Jelly-O Donut</h1>
            <p>
                Cupcake pie apple pie cookie pudding I love biscuit apple pie. Cheesecake caramels marshmallow tiramisu chocolate bar I love macaroon.
            </p>
            <div class="btn-div">
                <a class="info-btn" target="_top" href="mailto:hi@monolambda.com?subject=Static Site Starter Inquiry">Contact Us</a>
            </div>
        </div>
        <!--<section class="about">
            <div>
                <h1>Who We Are</h1>
                <a href="https://monolambda.com/">
                    <img src="/assets/images/logo.png" alt="monoLambda logo">
                </a>
                <p>Topping danish donut. Bear claw icing apple pie cotton candy cake tiramisu jelly icing jelly-o.
                   Bonbon candy bonbon biscuit.</p>
            </div>
        </section>-->
        <footer>
            <a href="https://www.facebook.com/monoLambda" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://twitter.com/monoLambda" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/monoLambda/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://github.com/monolambda" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        </footer>
    </body>
</html>