<!DOCTYPE html>
<html lang="en">
    <head>
        <title>monoLambda | Getting Started</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <section class="read-me">
            <div class="read-me-div">
                <h1 class="title">Introduction</h1>
                <p>
                    Cupcake pie apple pie cookie pudding I love biscuit apple pie. Cheesecake caramels marshmallow tiramisu chocolate bar I love macaroon.
                    I love marshmallow gummies tart cotton candy. Halvah chocolate liquorice.
                </p>
                <code>yarn serve doughnuts</code>
                <h2>Example of Heading 2</h2>
                <h3>Example of Heading 3</h3>
                <p>
                    Jelly beans sweet roll danish powder chocolate bar.
                    Topping cupcake gingerbread marshmallow tootsie roll. Carrot cake cotton candy danish.
                </p>
                <p>
                    Chocolate bar chocolate cake carrot cake liquorice jelly-o jelly beans.
                    Liquorice bonbon muffin bonbon lollipop. Lollipop icing I love jelly beans brownie.
                    Pudding chocolate cake cake. Sesame snaps ice cream muffin chocolate cake sesame snaps cookie gingerbread.
                </p>
                <h3>Tart Danish Candy Canes Cake</h3>
                <p>
                    Jelly beans sweet roll danish powder chocolate bar. Danish carrot cake cotton candy chupa chups candy.
                    Topping cupcake gingerbread marshmallow tootsie roll. Carrot cake cotton candy danish.
                </p>
                <p>
                    Pudding chocolate cake cake. Sesame snaps ice cream muffin chocolate cake sesame snaps cookie gingerbread.
                    Marshmallow topping chupa chups jelly beans ice cream topping danish. Muffin dragée jujubes sugar plum.
                    Toffee marshmallow tiramisu muffin powder lemon drops liquorice. Oat cake I love pastry gummi bears
                </p>
                <div class="btn-div">
                    <a class="info-btn" target="_blank" href="https://github.com/monolambda/static-site-starter">Go to Wiki</a>
                </div>
            </div>
        </section>
        <footer>
            <a href="https://www.facebook.com/monoLambda" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://twitter.com/monoLambda" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/monoLambda/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://github.com/monolambda" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        </footer>
    </body>
</html>