doctype html
html(lang='en')
    - var anotherPage = true // set anotherPage variable to true
    include ./partials/_header.pug 
    body
        section.read-me
            .read-me-div
                h1.title Introduction
                p
                    | Cupcake pie apple pie cookie pudding I love biscuit apple pie.
                    | Cheesecake caramels marshmallow tiramisu chocolate bar I love macaroon.
                    | I love marshmallow gummies tart cotton candy. Halvah chocolate liquorice.
                code yarn serve doughnuts
                h2.divider Example of Heading 2
                p
                    | Jelly beans sweet roll danish powder chocolate bar.
                    | Topping cupcake gingerbread marshmallow tootsie roll. Carrot cake cotton candy danish.
                h3 Example of Heading 3
                p
                    | Jelly beans sweet roll danish powder chocolate bar.
                    | Topping cupcake gingerbread marshmallow tootsie roll. Carrot cake cotton candy danish.
                p
                    | Chocolate bar chocolate cake carrot cake liquorice jelly-o jelly beans.
                    a(href='#')
                        | This is not a hipster link at all. 
                    | Lollipop icing I love jelly beans brownie.
                    | Pudding chocolate cake cake. Sesame snaps ice cream muffin chocolate cake. Sesame snaps cookie gingerbread.
                h3.divider Tart Danish Candy Canes Cake
                code var danger = "Too much sugar";
                p.divider
                    | Jelly beans sweet roll danish powder chocolate bar.
                    | Danish carrot cake cotton candy chupa chups candy.
                    | Topping cupcake gingerbread marshmallow tootsie roll. Carrot cake cotton candy danish.
                p
                    | Pudding chocolate cake cake. Sesame snaps ice cream muffin chocolate cake sesame snaps cookie gingerbread.
                    | Marshmallow topping chupa chups jelly beans 
                    a(href='#')
                        | ice cream topping danish. 
                    | Muffin dragée jujubes sugar plum.
                    | Toffee marshmallow tiramisu muffin powder lemon drops liquorice. Oat cake I love pastry gummi bears.
                .link-div
                    a(href='../index.html')
                        i.fa.fa-long-arrow-left(aria-hidden='true')
                        |  Home
                    a(href='https://github.com/monolambda/static-site-starter/wiki', target='_blank')
                        |Go to Wiki 
                        i.fa.fa-long-arrow-right(aria-hidden='true')
        footer
            .footer-icons
                a(href='https://www.facebook.com/monoLambda', target='_blank')
                    i.fa.fa-facebook-official(aria-hidden='true')
                a(href='https://twitter.com/monoLambda', target='_blank')
                    i.fa.fa-twitter-square(aria-hidden='true')
                a(href='https://www.instagram.com/monoLambda/', target='_blank')
                    i.fa.fa-instagram(aria-hidden='true')
                a(href='https://github.com/monolambda', target='_blank')
                    i.fa.fa-github-square(aria-hidden='true')