<!DOCTYPE html>
<html lang="en">
    <head>
        <title>monoLambda | Getting Started</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <header class="getting-started-header">
            <div class="header-info">
                <h1>Getting Started</h1>
                <h4>Cookie croissant chocolate cake. Topping cake soufflé wafer carrot cake. Cupcake chocolate.</h4>
            </div>
        </header>
        <div class="btn-div">
            <a class="info-btn home-btn" href="./../index.html"><i class="fa fa-caret-left" aria-hidden="true"></i> Home</a>
            <a class="info-btn" target="_blank" href="https://github.com/monolambda/static-site-starter">Source <i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
        <section class="read-me">
            <div class="read-me-div">
                <h1>Marshmallow Tootsie Roll Pie Pie Halvah</h1>
                <p>
                    Cupcake pie apple pie cookie pudding I love biscuit apple pie. Cheesecake caramels marshmallow tiramisu chocolate bar I love macaroon.
                    I love marshmallow gummies tart cotton candy. Halvah chocolate liquorice.
                </p>
                <h2>Oat Cake Macaroon</h2>
                <p>
                    Jelly beans sweet roll danish powder chocolate bar.
                    Topping cupcake gingerbread marshmallow tootsie roll. Carrot cake cotton candy danish.
                </p>
                <h3>Tart Danish Candy Canes Cake</h3>
                <p>
                    Jelly beans sweet roll danish powder chocolate bar. Danish carrot cake cotton candy chupa chups candy.
                    Topping cupcake gingerbread marshmallow tootsie roll. Carrot cake cotton candy danish.
                </p>
                <code>Carrot.cake = {cottonCandyChupa}</code>
                <p>
                    Jelly beans sweet roll danish powder chocolate bar. Danish carrot cake cotton candy chupa chups candy.
                    Topping cupcake gingerbread marshmallow tootsie roll. Carrot cake cotton candy danish.
                </p>
                <h1>Candy Jelly-O Beans Donut Tart Cupcake</h1>
                <p>
                    Cupcake pie apple pie cookie pudding I love biscuit apple pie. Cheesecake caramels marshmallow tiramisu chocolate bar I love macaroon.
                    I love marshmallow gummies tart cotton candy. Halvah chocolate liquorice.
                </p>
                <p>
                    Cupcake pie apple pie cookie pudding I love biscuit apple pie. Cheesecake caramels marshmallow tiramisu chocolate bar I love macaroon.
                    I love marshmallow gummies tart cotton candy. Halvah chocolate liquorice.
                </p>
                <p>
                    Cupcake pie apple pie cookie pudding I love biscuit apple pie. Cheesecake caramels marshmallow tiramisu chocolate bar I love macaroon.
                    I love marshmallow gummies tart cotton candy. Halvah chocolate liquorice.
                </p>
            </div>
        </section>
    </body>
</html>