//- if indexPage is true use first title, if anotherPage variable is true use second title
if indexPage
    - var title = 'monoLambda | Static Site Generator'
if anotherPage
    - var title = 'Documentation'
head
    title #{title}
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500|Lato', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
