.header-wrapper
    background: linear-gradient(45deg, rgba(darken($green, 25%), 0.3), rgba($white, 0.5)),
    url('~/assets/images/header-background.jpg') 
    .header-div
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        align-self: center
        background-color: $white
        opacity: 0.9
        padding: .5rem 1.2rem
        border-radius: 1rem
        box-shadow: 0 4px 8px 0 darken($bg-box, 5%)
        height: 40%
        width: 80%
        img
            width: 100%
        +tablet
            width: 60%
            h1
                font-size: 2.5rem
        +desktop
            width: 40%
            img
                width: 80%

.intro
    display: flex
    justify-content: center
    width: 100%
    .quote
        width: 80%
        text-align: center
        align-self: center
        line-height: 1.2
        margin-bottom: 2rem
        h2
            margin: 2rem 0 2rem
        +tablet
            h2
                font-size: 2rem
        +desktop
            width: 40%
    .get-started-btn
        display: inline-flex
        justify-content: center