@import 'base/normalize'
@import '../base/variables'

body
  font: 100% $font-text
  background-color: $white
  display: flex
  justify-content: center

header
  display: flex
  justify-content: center
  height: 65vh
  width: 100%
  background: linear-gradient(45deg, rgba($green, 0.4), rgba($white, 0.3)),
  url('./../assets/images/header-background.jpg') 
  .header-div
    background-color: $white
    text-align: center
    align-self: center
    padding: 2rem
    border-radius: 1rem

h1
  font:
    family: $font-title
    size: 2.5rem
