doctype html
html(lang='en')
    head
        title monoLambda | Static Site Generator
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500|Lato', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    body
        header.header-wrapper
            .header-div
                img(src='/assets/images/expanded_logo.png', alt='monoLambda expanded logo')
                h1 Static Site Starter
        section.intro
            .quote
                h2 Build elegant, static websites with advanced functionality and optimizations.
                a.get-started-btn(href='./another-page/another-page.html') Get Started
        section.features
            .info-box
                h3
                    i.fa.fa-book(aria-hidden='true')
                p
                    | Pastry cake sugar plum wafer I love. I love lemon drops croissant donut sesame snaps biscuit jelly beans.
            .info-box
                h3
                    i.fa.fa-rocket(aria-hidden='true')
                p
                    | Pastry cake sugar plum wafer I love. I love lemon drops croissant donut sesame snaps biscuit jelly beans.
            .info-box
                h3
                    i.fa.fa-coffee(aria-hidden='true')
                p
                    | Pastry cake sugar plum wafer I love. I love lemon drops croissant donut sesame snaps biscuit jelly beans.
