<!DOCTYPE html>
<html lang="en">
    <head>
        <title>monoLambda | Static Site Generator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500|Lato" rel="stylesheet">  
    </head>
    <body>
        <header> 
            <div class="header-div">
                <img src="/assets/images/expanded_logo.png" alt="monoLambda expanded logo">
                <h1>Static Site Generator</h1>
            </div>
        </header>
         <section class="intro">
            <div class="quote">
                <h2>Build elegant, static websites with advanced functionality and optimizations.</h2>
                <a class="get-started-btn" href="./another-page/another-page.html">Get Started</a>
            </div>
        </section>
        <section class="about">
            <div>
                <p>Our custom boilerplate lets you focus on writing code for smoother front-end development. </p>
            </div>
            <div>
                <p>With the expected output of HTML, CSS, and JavaScript, deploy your project with confidence to any static site hosting solution.</p>
            </div>
            <div>
                <p>Our Webpack setup allows you to build in simple or complex ecosystems.</p>
            </div>
        </section>
    </body>
</html>