body
  font: 100% $font-text
  color: $font-gray
  background-color: $bg-body
  width: 100%

a
    text-decoration: none

img
    max-width: 100%

h2
    font:
      size: 1.8rem
      weight: 600

h1
    color: darken($green, 15%)
    margin-bottom: 0
    font:
      size: 1.7rem
      weight: 600