.info-btn
    color: $white
    background-color: $btn-accent
    font:
        size: 1.5rem
        weight: 500
    padding: 1rem
    border-radius: 5px
    width: 10rem
    box-shadow: -1.5px 1px 5px 0 lighten($bg-shadow, 50%)
    transition: background-color 0.5s ease
    &:hover
        background-color: darken($btn-accent, 3%)