//monoLambda Style Guidelines
$font-title: 'Fira Sans', sans-serif
$font-text: 'Lato', sans-serif
$black: #000
$white: #fff
$green: #1de9b6
$gray: #333
$bg-accent: #666

//Added
$eden: #114859
$persian-red: desaturate(#d32f2f, 3%)
