//monoLambda Style Guidelines
$font-title: 'Fira Sans', sans-serif
$font-text: 'Lato', sans-serif
$black: #000
$white: #fff
$green: #1de9b6
$gray: #333
$bg-accent: #666

//Added
$persian-red: #d32f2f
$eden: #114859